.header-container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    align-items: center;
}
.navigation-ul{
    display: flex;
    justify-content: space-between;
}
.nav-li{
    margin-left: 32px;
}
.navigation-ul{
    font-size: 16px;
    font-family: "poppins";
    font-family: 400; 
}

.header-logo{
    margin-left: 259px;
}
.user-logo{
    margin-right: 256px;
}
.section1{
    background: linear-gradient(90deg, #000B02 6.34%, #2F2E36 37.81%);;
}
.section1-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.h1-span{
 color: #F5B963;
}
.sect1-h1{
    color: white;
    font-size: 44px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 56px;

}
.sect1-text-wraper{
    margin-left: 259px;
    margin-top: 96px;
    max-width: 523px;
    height: 288px;
}
.section1-p{
    color: #FFFFFF;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.section1-p-wraper{
    display: flex;
    align-items: center;
}


.user-stars-wraper{
    display: flex;
    justify-content: center;
}
.user-wraper{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    height: 48px;
    margin-top: 25px    ;
}
.sect2-h{   

    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 26px;
    color: #22223C;
    margin-left: 256px ;
    margin-top: 54px;
}
.section2-p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #47475F;
    margin-left: 256px ;
}
.sect2-imgline{
    margin-left: 256px ;
}
.cabin-wraper{
    margin-left: 256px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 40px;
}
.cabin-container{
    width: 339px;
height: 489px;
background: #2B3030;
border-radius: 4px;
}
.cabin-names{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
    color: #D7FFF1;
    margin-left: 12px;
    margin-top: 13px;
}
.cabin-h{
    font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
margin-left: 12px;
margin-top: 13px;


color: #FFFFFF;
}
.cabin-text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
margin-left: 12px;
margin-top: 20px;


color: #E0F2EB;
}
.price{
    margin-left: 63px;
}
.cabin-stars{
    margin-left: 12px;
    margin-top: 24px;
}
.cabin-container1{
    width: 339px;
height: 489px;
background: #1d6363;
border-radius: 4px;
}